div {
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid black;
}

#container-ppal {
  display: flex;
  gap: 5px;
  height: 500px;
  border: 4px solid black;

}

/***************** Contenedor izquierda *****************/
#container-izq {
  display: flex;
  flex-direction: column;
  border: 4px solid red;
  width: 20%;
}

#container-izq #container-izq-1 {
  align-self: center;
  width: 50px;
  height: 50px;
}

#container-izq #container-izq-2 {
  display: flex;
  border-width: 0px;
}

#container-izq #container-izq-3 {
  width: 50px;
  height: 50px;
}

#container-izq #container-izq-4 {
  margin-left: auto;
  width: 50px;
  height: 50px;
}

#container-izq #container-izq-5 {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 5px;
}

#container-izq #container-izq-6 {
  background-color: lightcoral;
  height: 75px;
  width: 75px;
}

#container-izq #container-izq-7 {
  background-color: lightgreen;
  height: 75px;
  width: 75px;
}

#container-izq #container-izq-8 {
  background-color: lightblue;
  height: 75px;
  width: 75px;
}

/***************** Contenedor centro *****************/
#container-centro {
  display: flex;
  gap: 50px;
  flex-direction: column;
  border: 4px solid green;
  width: 50%;
}

#container-centro #container-centro-1 {
  display: flex;
  justify-content: space-between;
  height: 100px;
  border-width: 0px;
}

#container-centro #container-centro-2 {
  height: 100px;
}

#container-centro #container-centro-3 {
  display: flex;
  /* gap: 5px; */
  margin-top: auto;
  border: 0px;
}

#container-centro #container-centro-4 {
  width: 50px;
  height: 50px;
}

#container-centro #container-centro-5 {
  align-self: flex-end;
  width: 50px;
  height: 50px;
}

#container-centro #container-centro-6 {
  width: 50px;
}

#container-centro #container-centro-7 {
  align-self: center;
  width: 50px;
  height: 50px;
}

#container-centro #container-centro-8 {
  order: 1;
  flex-grow: 2;
  width: 50px;
  height: 50px;
  background-color: lightcoral;
}

#container-centro #container-centro-9 {
  order: 0;
  flex-grow: 0;
  background-color: lightblue;
  width: 50px;
  height: 50px;
}

/***************** Contenedor derecha *****************/
#container-dcha {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 4px solid blue;
  width: 30%;
}

#container-dcha #container-dcha-1 {
  order: 1;
  height: 50px;
  background-color: lightblue;
}

#container-dcha #container-dcha-2 {
  display: flex;
  justify-content: space-around;
  order: -1;
  background-color: lightcoral;
  border: 0px;
}

#container-dcha #container-dcha-3 {
  display: flex;
  background-color: lightgreen;
  height: 50px;
  border: 0px;
}

#container-dcha #container-dcha-4 {
  display: flex;
  width: 50px;
  height: 50px;
}

#container-dcha #container-dcha-5 {
  width: 50px;
  height: 50px;
}

#container-dcha #container-dcha-6 {
  flex-grow: 1;
}

#container-dcha #container-dcha-7 {
  flex-grow: 1;
}