/* * {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
} */

html {
  scroll-behavior: smooth;
}

.img-header {
  background-image: url("../img/html5-wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

nav {
  background-color: black;
  position: sticky;
  top: 0px;
}

a {
  display: inline-block;
  padding: 15px;
  color: white;
  text-decoration: none;
}

.nav-btn:hover {
  background-color: red;
}

.contacto {
  margin-left: auto;
}

img {
  width: 100%;
  height: auto;
}

.link-article {
  text-align: center;
  color: black;
  text-decoration: none;
}

.link-article:hover {
  color: #555;
}

[class*="div"] {
  height: 200px;
  padding: 15px;
}

.div1 {
  background-color: yellowgreen;
}

.jaja {
  display: none;
  position: relative;
  left: 50px;
  background-color: yellow;
  width: 150px;
  border: 1px solid red;
}

.aprobar {
  background-color: lightblue;
}

.aprobar:hover + .jaja {
  display: block;
}

.div2 {
  background-color: lightcoral;
}

.div3 {
  background-color: lightblue;
}

.div4 {
  background-color: lightpink;
}

.div5 {
  background-color: lightseagreen;
}

.scroll {
  background-color: #55555593;
  border-radius: 50%;
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 60px;
  padding: 15px;
  display: none;
}

.a-scroll {
  padding: 0px;
}

@media only screen and (min-width: 1200px) {
  .scroll {
    display: block;
  }
}

form {
  background-color: #d3d3d3;
  padding: 10px;
  border-radius: 10px;
}

input[type="text"]{
  width: 100%;
}

textarea {
  width: 100%;
  resize: vertical;
}

input[type="submit"] {
  font-size: 13pt;
  display: block;
  margin: 0 auto;
}
