table {
    width: 50%;
    border-spacing: 5px;
}

.titulos {
    border: 1px solid black;
    background-color: aqua;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

td {
    border: 1px solid black;
    background-color: beige;
    padding: 15px;
}

td:hover {
    background-color: coral;
}

#spain {
    background-image: linear-gradient(red, yellow, yellow, red);
}

#argentina {
    background-image: linear-gradient(skyblue, white, white, skyblue);
}

#france {
    background-image: linear-gradient(to right, blue, white, white, red);
}

.flag {
    cursor: pointer;
}

#spain:active,
#argentina:active,
#france:active {
    background-image: none;
    background-color: white;
}

#und {
    text-align: center;
    font-style: oblique;
}