@media (min-width: 800px) {
    body {
        background-color: pink;
    }
}

@media (max-width: 799px) {
    body {
        background-color: lightgreen;
    }
}

@media (max-width: 399px) {
    body {
        background-color: lightblue;
    }
}

