div {
    margin: auto;
    background-color: lightblue;
    text-align: center;
    width: 25%;
}

@media (min-width: 600px) and (max-width: 900px), (min-width: 1100px) {
    div {
        padding: 15px;
        border: 5px solid lightblue;
        background-color: lightgreen;
    }
}