#morado {
    position: relative;
    width: 450px;
    height: 40px;
    top: 25px;
    left: 150px;
    background-color: blueviolet;
}

#rosa {
   position: sticky;
   height: 335px;
   background-color: pink;
   top: 20px;
}

#celeste {
    position: fixed;
    width: 40px;
    height: 90px;
    bottom: 70px;
    right: 250px;
    background-color: skyblue;
}

#verde {
    position: absolute;
    height: 10px;
    width: 100%;
    top: 175px;
    background-color: green;
}

#amarillo {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: yellow;
    border-radius: 150px;
    right: 100px;
}

#azul {
    position: absolute;
    width: 35px;
    height: 335px;
    background-color: blue;
    right: 150px;
    top: -165px;
}

#rojo{
    position: relative;
    width: 160px;
    height: 65px;
    background-color: red;
    top: 15px;
    right: 73px;
    border-radius: 0 15px 0 15px;
}