/* ---- Estilos básicos ---------------------------------------------------- */

.sinPadding {
  /*O quitar el padding en columnas*/
  padding: 0px;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(242, 245, 254);
  background: linear-gradient(0deg, rgba(242, 245, 254, 1) 80%, rgba(151, 176, 245, 1) 100%);
  font: 70%/160% "verdana", sans-serif;
  color: #192666;
}

a {
  color: #192666;
}

a:hover {
  color: #4f6ad7;
}

p {
  margin: 1em 0;
  padding: 0;
}

.clear {
  clear: both;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1em 0;
  padding: 0;
}

h1 {
  font-size: 260%;
  font-family: "georgia", serif;
  font-weight: normal;
}

h2 {
  font-size: 180%;
  font-family: "georgia", serif;
  font-weight: normal;
}

h3 {
  font-size: 120%;
  font-weight: bold;
}

ul,
ol {
  margin: 1em 0 1em 2em;
  padding: 0;
}

/* ---- Layout ------------------------------------------------------------- */

#contenedor {
  width: 50%;
  margin: 50px auto 0 auto;
}

#_cabecera {
  width: 770px;
  position: relative;
  height: 100px;
  margin: 0;
  padding: 0;
  background: #233c9b url("img/cabecera.jpg") no-repeat;
  background-size: cover;
  color: #fff;
}

.cabecera { /* Nuevo */
  /* width: 770px; */
  /* position: relative; */
  height: 100px;
  margin: 0;
  padding: 0;
  border-radius: 20px 20px 0px 0px;
  background: #233c9b url("img/cabecera.jpg") no-repeat;
  background-size: cover;
  color: #fff;
}

#_contenido {
  width: 770px;
  background: #fff;
}

.contenido { /* Nuevo */
  width: 100%;
  background: #fff;
}

#_contenido #_principal {
  float: left;
  width: 520px;
  margin-top: 15px;
  margin-right: 10px;
  padding: 0 0 0 20px;
  background: #fff;
}

.contenido .principal { /* Nuevo */
  padding: 15px 0 0 20px;
  padding-right: 10px;
  background: #fff;
  
}.col-s-

#_contenido #_secundario {
  float: left;
  width: 200px;
  margin: 15px 0 0 0;
  padding: 0;
  background: #cedbf9 url("img/fondo_columna.gif") no-repeat;
}

.contenido .secundario { /* Nuevo */
  margin-top: 15px;
  padding: 0;
  background-color: rgb(206, 219, 249);
  border-radius: 20px 20px 0px 0px;
  -webkit-box-shadow: inset 0 0 17px -2px #a0b9f3;
  -moz-box-shadow: inset 0 0 17px -2px #a0b9f3;
  box-shadow: inset 0 0 17px -2px #a0b9f3;
}

#pie {
  clear: both;
  height: 60px;
  margin-bottom: 50px;
  background: url("img/fondo_pie.jpg") no-repeat;
  color: #6685cc;
  position: relative;
}

/* ---- Cabecera ----------------------------------------------------------- */
#_cabecera #_logo {
  position: absolute;
  top: 35px;
  left: 35px;
  margin: 0;
}

.cabecera .logo { /* Nuevo */
  margin-top: 35px;
  margin-left: 35px;
}

#cabecera #logo a {
  color: #fff;
  display: block;
  line-height: 35px;
}

#cabecera #logo a:hover {
  color: #b5c4e3;
  text-decoration: underline;
}

#_cabecera #_buscador {
  position: absolute;
  top: 40px;
  right: 20px;
}

.cabecera .buscador { /* Nuevo */
  margin-top: 35px;
  float: right;
}

#cabecera #buscador legend {
  display: none;
}

#cabecera #buscador fieldset {
  border: none;
}

/* ---- Menú --------------------------------------------------------------- */
#_menu {
  background: #192666;
  padding: 10px 0 0 0;
}

.menu { /* Nuevo */
  background: #192666;
  padding: 10px 0 0 0;
}

#menu ul {
  margin: 0 10px;
  padding: 0;
  list-style: none;
}

#menu ul li {
  margin: 0 5px 0 0;
  padding: 0;
  float: left;
}

#menu ul li a {
  display: block;
  position: relative;
  padding: 5px 15px;
  border: 0;
  background: #253575;
  color: #b5c4e3;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

#menu ul li a:hover {
  background: #31479b;
}

#menu ul li.seleccionado a {
  background: #fff;
  color: #ff9000;
}

/* ---- Contenidos --------------------------------------------------------- */
#contenido .articulo {
  margin: 0;
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
  -webkit-box-shadow: inset 0 0 17px -2px #a0b9f3;
  -moz-box-shadow: inset 0 0 17px -2px #a0b9f3;
  box-shadow: inset 0 0 17px -2px #a0b9f3;
  margin-bottom: 10px;
}

#contenido .articulo img {
  width: 100%;
}

#contenido .articulo h2 {
  margin: 0 -20px;
  padding: 10px;
  background: #dee5fd;
  color: #192666;
}

#contenido .info {
  margin: 10px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #dee5fd;
  color: #6685cc;
}

#contenido .info a {
  color: #6685cc;
}

#contenido .info a:hover {
  color: #ff9000;
}

#contenido .info span.fecha,
#contenido .info span.categoria,
#contenido .info span.autor,
#contenido .info span.comentarios {
  padding-left: 15px;
}

#contenido .info span.fecha {
  background: url("img/icono_fecha.gif") 0 50% no-repeat;
}

#contenido .info span.categoria {
  background: url("img/icono_categoria.gif") 0 50% no-repeat;
  margin-left: 8px;
}

#contenido .info span.autor {
  background: url("img/icono_autor.gif") 0 50% no-repeat;
  margin-left: 8px;
}

#contenido .info span.comentarios {
  background: url("img/icono_comentarios.gif") 0 50% no-repeat;
  margin-left: 8px;
}

#contenido #secundario h3 {
  padding: 10px 0 10px 10px;
  margin-top: 20px;
  background: #a0b9f3;
  color: #192666;
}

#contenido #secundario #sobremi img {
  float: left;
  margin: 4px 5px 0 0;
}

#contenido #secundario #sobremi p {
}

#contenido #secundario div {
  padding: 0 10px;
}

#contenido #secundario ul {
  margin: 15px 0;
  padding: 0;
  list-style: none;
}

#contenido #secundario li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e0e8fa;
}

#contenido #secundario li a {
  display: block;
  padding: 3px 0 3px 22px;
  background: url("img/icono_elemento.gif") 8px no-repeat;
  text-decoration: none;
}

#contenido #secundario li a:hover {
  background-color: #e0e8fa;
  color: #192666;
}

#contenido #secundario li.seleccionado a {
  background: #e0e8fa url("img/icono_elemento_seleccionado.gif") 8px no-repeat;
  font-weight: bold;
}

/* ---- Pie ---------------------------------------------------------------- */
#pie p {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  left: 40px;
}
