/* 500px - 899px */
@media only screen and (min-width: 500px) and (max-width: 899px){
    main {
        grid-template-columns: auto repeat(2, 1fr);
        grid-template-rows: repeat(5, auto);
        align-content: start;
        grid-template-areas:
        'uno dos dos'
        'uno tres cuatro'
        'uno cinco cuatro'
        'uno cinco seis'
        'uno . seis';
    }

    main * {
        padding: 15px;
    }

    main :nth-child(1) {
        grid-area: uno; 
    }

    main :nth-child(2) {
        grid-area: dos;
    }

    main :nth-child(3) {
        grid-area: tres;
    }

    main :nth-child(4) {
        grid-area: cuatro;
    }

    main :nth-child(5) {
        grid-area: cinco;
    }

    main :nth-child(6) {
        grid-area: seis;
    }
}

/* 900px */
@media only screen and (min-width: 900px) {

    /* ----------- HEADER ----------- */
    .curso {
        justify-self: start;
        grid-row: 1 / 2;
    }

    .subtitulo {
        justify-self: end;
        grid-row: 1 / 2;
    }

    .titulo {
        grid-row: 1 / 3;
    }

    /* ------------- NAV ------------- */
    .menu {
        width: 850px;
        margin: 0 auto;
    }

    /* ------------- MAIN ------------- */
    main {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(3, auto);
        align-content: start;
        grid-template-areas:
        'uno dos dos dos dos'
        'uno . tres . cuatro'
        'cinco . tres . seis';
    }

    main * {
        padding: 15px;
    }

    main :nth-child(1) {
        grid-area: uno; 
    }

    main :nth-child(2) {
        grid-area: dos;
    }

    main :nth-child(3) {
        grid-area: tres;
    }

    main :nth-child(4) {
        grid-area: cuatro;
    }

    main :nth-child(5) {
        grid-area: cinco;
    }

    main :nth-child(6) {
        grid-area: seis;
    }

    /* ------------- ASIDE ------------- */
    aside {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }

    /* aside img {
        width: 100%;
    } */
}