:root {
    --color-fondo: #d3d3d3;
}

#container {
    margin: 0 auto;
}


header {
    background-color: var(--color-fondo);
    padding: 20px;
    text-align: right;
}

.caja-homer {
    background-color: #d3ffd3;
    
}

.caja-imagen-homer {
    margin-right: 15px;
}

.caja-imagen-homer img {
    width: 160px;
    background-color: white;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 15px 3px #000000;
    -moz-box-shadow: 0 0 15px 3px #000000;
    box-shadow: 0 0 15px 3px #000000;
}

.texto-homer {
    font-size: 0.9rem;
    padding: 10px;
}

.texto-homer::first-letter {
    font-size: 2rem;
}

.rotulo {
    background-color: black;
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 5px 0px;
    color: white;
    transform: translateY(-20px);
}

.caja-formulario {
    background-color: #eee;;
}

select {
    width: 100%;
}

[type="text"] {
    width: 100%;
}

[type="button"] {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    color: white;
    background-color: green;
}

.hola {
    background-color: lightcoral;
    padding: 10PX;
}

.adios {
    background-color: lightgreen;
    padding: 10PX;
}

footer {
    background-color: var(--color-fondo);
    padding: 20px;
    text-align: right;
}

footer img {
    height: 40px; 
}