:root {
    --color-borde: black;
    --color-fondo: white;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

.contenedor {
    background-color: white;
    width: 100%;
}

header {
    padding: 25px;
    /* width: 100%; */
    background-color: white;
}

header img {
    height: 30px;
}

header a {
    border: 1px solid var(--color-borde);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    background-color: var(--color-fondo);
    color: black;
    margin-left: auto;
    transition: background-color 0.5s, color 0.5s;
}


header a:hover {
    background-color: black;
    color: white;
}

section img {
    width: 100%;
}

#textoImagen {
    width: 100%;
    padding: 15px;
}

article {
    padding: 10px 20px 20px 20px;
    border-radius: 15px;
}

main div.row div:nth-child(1) article {
    background-color: lightblue;
}

main div.row div:nth-child(2) article {
    background-color: lightcoral;
}

main div.row div:nth-child(3) article {
    background-color: lightcyan;
}

main div.row div:nth-child(4) article {
    background-color: lightgoldenrodyellow;
}