:root {
    /* ---- COLORES HEADER ---- */
    --color-header-1: #e5b25d;
    --color-header-2: #f2dd6e;

    /* ---- COLORES NAV ---- */
    --color-nav-1: #523a34;
    --color-nav-2: #fff;

    /* ---- TAMAÑO FONT HEADER ---- */
    --font-header: 14px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: var(--color-header-2);
    display: grid;
}

header * {
    font-weight: bold;
    padding: 0px 3px 0px 3px;
}

.curso {
    font-size: var(--font-header);
    background-color: var(--color-header-1);
    grid-column: 1 / 2;
}

.subtitulo {
    font-size: var(--font-header);
    background-color: var(--color-header-1);
    text-align: right;
    grid-column: 2 / 3;
}

.titulo {
    justify-self: center;
    grid-column: 1 / 3;
}

.titulo * {
    margin: 20px 0px 20px 0px;
    font-size: 45px;
    font-weight: bold;
}

nav {
    background-color: var(--color-nav-1);
}

.menu {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(5, 1fr);

}

.menu * {
    background-color: var(--color-nav-1);
    color: var(--color-nav-2);
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
}

.menu *:hover {
    background-color: var(--color-nav-2);
    color: var(--color-nav-1);
}

section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto-fit auto-fit;
    grid-auto-flow: column;
    gap: 20px;
}

section {
    margin: 20px;
}

main {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

#uno {
    background-color: lightcoral;
}

#dos {
    background-color: lightgreen;
}

#tres {
    background-color: lightblue;
}

#cuatro {
    background-color: lightgray;
}

#cinco {
    background-color: lightsalmon;
}

#seis {
    background-color: lightyellow;
}

aside {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: grid;
    row-gap: 20px;
}
