* {
    box-sizing: border-box;
}

.header {
    background-color: #333333;
    width: 100%;
    float: left;
}

.btn {
    padding: 20px;
    text-align: center;
}

.btn:hover {
    background-color: red;
}
.left {
    float: left;
}

.right {
    float: right;
}

a {
    color: white;
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}