* {
  box-sizing: border-box;
}

.clearfix::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

a {
  text-decoration: none;
  color: inherit;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

#header-logo-container {
  height: 200px;
  background-image: url('../img/html5-wallpaper.jpg');
  background-position: center;
}

nav {
  background-color: black;
  position: sticky;
  top: 0px;
  z-index: 9999;
}

nav a {
  color: white;
  padding: 6px 12px;
  font-size: 16pt;
}

nav a:hover {
  background-color: red;
}

