html {
  scroll-behavior: smooth
}

aside a.titular {
  display: block;
}

aside a.titular img {
  width: 100%;
}

aside a.titular h3 {
  margin: 0;
  font-weight: bold;
  font-size: 14pt;
}

aside a.titular:hover h3 {
  color: #555;
}

aside .titular:not(:last-child) {
  margin-bottom: 30px;
}

a#totop {
  position: fixed;
  bottom: 30px;
  right: 200px;
  background-color: darkgray;
  padding: 20px;
  border-radius: 50%;
  opacity: 0.75;
}

a#totop img {
  width: 30px;
}

/* Oculta para móviles y tablets */
a#totop {
  display: none;
}

.height-200 {
  height: 200px;
  padding: 20px;
  height: 200px;
  font-size: 16pt;
}

.bg-lightcoral {
  background-color: lightcoral;
}

.bg-lightblue {
  background-color: lightblue;
}

.bg-lightpink {
  background-color: lightpink;
}

.bg-lightseagreen {
  background-color: lightseagreen;
}

.bg-lightsteelblue {
  background-color: lightsteelblue;
}

.bg-yellowgreen {
  background-color: yellowgreen;
}

/* TOOLTIP */
.span1 {
  position: relative;
  background-color: lightblue;
  cursor: help;
  padding: 5px 12px;
}

.tooltip {
  position: absolute;
  background-color: yellow;
  border: 1px solid red;
  padding: 8px;
  top: 35px;
  left: 10px;
  display: none;
}

.span1:hover .tooltip {
  display: inline-block;
}

.span2 {
  background-color: chocolate;
  display: inline-block;
  height: 100px;
  vertical-align: middle;
}