* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
  }

header {
    background-color: black;
    position: sticky;
    top: 0px;
}

.img-header {
    background-image: url('../img/html5-wallpaper.jpg');
    background-position: center ;
    background-repeat: no-repeat;
    background-size: auto;
    height: 200px;
    
}

a {
    display: inline-block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: red;
    
}

.contacto {
    float: right;
}