/*********************************/
/********** Ejercicio 1 **********/
/*********************************/
.ej1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.ej1 :nth-child(1) {}

.ej1 :nth-child(2) {}

.ej1 :nth-child(3) {}

.ej1 :nth-child(4) {}

.ej1 :nth-child(5) {}

/*********************************/
/********** Ejercicio 2 **********/
/*********************************/
.ej2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.ej2 :nth-child(1) {
    order: 1;
}

.ej2 :nth-child(2) {}

.ej2 :nth-child(3) {}

.ej2 :nth-child(4) {}

.ej2 :nth-child(5) {
    order: 2;
}

/*********************************/
/********** Ejercicio 3 **********/
/*********************************/
.ej3 {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.ej3 :nth-child(1) {}

.ej3 :nth-child(2) {}

.ej3 :nth-child(3) {
    align-self: center;
}

.ej3 :nth-child(4) {}

.ej3 :nth-child(5) {}

/*********************************/
/********** Ejercicio 4 **********/
/*********************************/
.ej4 {
    display: flex;
    align-items: center;
}

.ej4 :nth-child(1) {
    flex-grow: 1;
}

.ej4 :nth-child(2) {}

.ej4 :nth-child(3) {
    flex-grow: 2;
    align-self: flex-end;
}

.ej4 :nth-child(4) {
    display: none;
}

.ej4 :nth-child(5) {
    display: none;
}

/*********************************/
/********** Ejercicio 5 **********/
/*********************************/
.ej5 {
    display: flex;
    justify-content: space-around;
}

.ej5 :nth-child(1) {}

.ej5 :nth-child(2) {
    height: auto;
}

.ej5 :nth-child(3) {}

.ej5 :nth-child(4) {
    display: none;
}

.ej5 :nth-child(5) {
    display: none;
}

/*********************************/
/********** Ejercicio 6 **********/
/*********************************/
.ej6 {
    display: flex;
    align-items: flex-end;
}

.ej6 :nth-child(1) {
    margin-right: auto;
}

.ej6 :nth-child(2) {}

.ej6 :nth-child(3) {}

.ej6 :nth-child(4) {
    display: none;
}

.ej6 :nth-child(5) {
    display: none;
}

/*********************************/
/********** Ejercicio 7 **********/
/*********************************/
.ej7 {
    display: flex;
    flex-direction: column;
}

.ej7 :nth-child(1) {
    align-self: flex-end;
}

.ej7 :nth-child(2) {
    width: auto;
}

.ej7 :nth-child(3) {
    align-self: center;
}

.ej7 :nth-child(4) {
    display: none;
}

.ej7 :nth-child(5) {
    display: none;
}

/*********************************/
/********** Ejercicio 8 **********/
/*********************************/
.ej8 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
}

.ej8 :nth-child(1) {
    flex-grow: 1;
}

.ej8 :nth-child(2) {
    flex-grow: 1;
}

.ej8 :nth-child(3) {
    flex-grow: 1;
}

.ej8 :nth-child(4) {
    display: none;
}

.ej8 :nth-child(5) {
    display: none;
}