* {
    box-sizing: border-box;
}

main {
    padding: 5px;
    border: 3px solid grey;
}

main>div {
    padding: 4px;
    border: 1px solid black;
}

main>div:nth-child(1) { background-color: lightseagreen;}
main>div:nth-child(2) { background-color: lightgrey;}
main>div:nth-child(3) { background-color: lightgreen;}
main>div:nth-child(4) { background-color: lightcyan;}
main>div:nth-child(5) { background-color: lightcoral;}
main>div:nth-child(6) { background-color: lightblue;}