#container {
  display: flex;
  flex-direction: row-reverse;
}

#container-interior {
  display: flex;
  flex-direction: column;
}

.divtexto {
  background-color: coral;
  padding-right: 50px;
}

.div1 {
  padding: 50px;
  background-color: pink;
}

.div2 {
  padding: 5px;
  background-color: aqua;
  align-self: flex-start;
}

code {
  font-size: 90%;
  background-color: lightgrey;
  padding: 2px 5px;
  font-family: 'Consolas', 'Lucida Console', 'Courier New', Courier, monospace;
}