#container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.div1 {
  padding: 50px;
  background-color: pink;
}

.div2 {
  padding: 50px;
  background-color: aqua;
}

code {
  font-size: 90%;
  background-color: lightgrey;
  padding: 2px 5px;
  font-family: 'Consolas', 'Lucida Console', 'Courier New', Courier, monospace;
}