#container {
  display: flex;
  align-items: flex-start;
}

* {
  box-sizing: border-box;
}

img {
  width: 200px;
}

.divtexto {
  padding: 0px 15px;
  background-color: aqua;
}

code {
  font-size: 90%;
  background-color: lightgrey;
  padding: 2px 5px;
  font-family: 'Consolas', 'Lucida Console', 'Courier New', Courier, monospace;
}