#container {
  display: grid;
  grid-template-columns: auto 1fr;
}

* {
  box-sizing: border-box;
}

img {
  width: 200px;
  grid-row: 1 / 2;
}

.divtexto {
  padding: 0px 15px;
  background-color: aqua;
  align-self: start;
}

code {
  font-size: 90%;
  background-color: lightgrey;
  padding: 2px 5px;
  font-family: 'Consolas', 'Lucida Console', 'Courier New', Courier, monospace;
}