* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

#container {
  display: flex;
}

.header,
.footer {
  background-color: grey;
  color: white;
  padding: 15px;
}

.column {
  padding: 15px;
}

.menu {
  width: 25%;
}

.content {
  width: 75%;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 8px;
  background-color: #33b5e5;
  color: #ffffff;
}

.menu li:hover {
  background-color: #0099cc;
}

code {
  font-size: 90%;
  background-color: lightgrey;
  padding: 2px 5px;
  font-family: 'Consolas', 'Lucida Console', 'Courier New', Courier, monospace;
}