.container {
  width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-auto-rows: auto auto auto; 
}

.header {
  display: grid;
  flex-direction: row-reverse;
  justify-content: space-between;
  grid-column: 1 / 3;
}

.main-content {
  display: grid;
  /* column-gap: 40px; */
  grid-column: 1 / 3;

}

.sidebar {
  /* flex-basis: 25%; */
  height: 300px;
  grid-column: 1 / 2;
}

.sub-content-wrapper {
  /* flex-basis: 75%; */
  /* display: flex; */
  /* flex-direction: column; */
  padding: 0px;
  grid-column: 1 / 2;

}

.sub-content {
  height: 140px;
  margin-bottom: 20px;
}

.sub-content-2 {
  height: 140px;
}

.footer {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}