#container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

.div1 {
  padding: 50px;
  background-color: pink;
  order: 1;

  /* grid-row: 1 / 2; */
}

.div2 {
  padding: 50px;
  background-color: aqua;
  /* grid-row: 1 / 2; */
}

code {
  font-size: 90%;
  background-color: lightgrey;
  padding: 2px 5px;
  font-family: 'Consolas', 'Lucida Console', 'Courier New', Courier, monospace;
}